<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"	
	xmlns:ws="http://jax-ws.dev.java.net/spring/core" 
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"	
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://jax-ws.dev.java.net/spring/core 
		http://jax-ws.dev.java.net/spring/core.xsd
     	http://jax-ws.dev.java.net/spring/servlet 
     	http://jax-ws.dev.java.net/spring/servlet.xsd
     	http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">		
		
    <!-- Quartz Bean -->
	<bean id="gestionNotificationBean" class="sn.arometh.notification.bean.GestionNotificationStockBean">
		<property name="nameScheduler" value="Scheduler de Gestion d'envoie des mails de notifications" />
	</bean>

	<!-- Scheduler Lotissement  -->
	<bean name="jobGestionNotificationDetail" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="sn.arometh.notification.job.GestionNotificationStockJob" />
		<property name="jobDataAsMap">
			<map>
				<entry key="gestionNotificationBean">
					<ref bean="gestionNotificationBean" />					
				</entry>
			</map>
		</property>		
	</bean>
			
	<!-- Paramétrage des jobs -->
	<bean id="jobGestionNotificationTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobGestionNotificationDetail" />
		<property name="cronExpression" value="0 15 14 * * ?" />
	</bean>
	
	<!-- <bean id="jobLotissement18hTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobLotissementDetail" />
		<property name="cronExpression" value="0 5 18 * * ?" />
	</bean>-->
	
	<!-- paramétrage Factory -->
	<bean id="schedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="jobGestionNotificationTrigger" />	
				<!-- <ref bean="jobLotissement18hTrigger" />	-->															
			</list>
		</property>
	</bean>		
</beans>